@media(max-width: 768px){


b{
font-weight: 400;
  
}
  
br{
display: none;
}
  
  
main{
width: 768px;
margin: 0 auto;
font-family: "Roboto", sans-serif;
}
  
.text-title {
font-size: 17px;
font-weight: 400;
line-height: 26px;
text-align: left;

margin: 0 auto;
margin-bottom: 16px;
width: 608px;

}
  
.main-img {
width: 768px;
height: 421px;
  
  
}
  
h3 {
font-size: 24px;
font-weight: 700;
line-height: 24px;
text-align: left;

margin: 0 auto;
width: 608px;
}


.img-text{
  
margin: 0 auto;
margin-top: 8px;
margin-bottom: 48px;


font-size: 15px;
font-weight: 400;
line-height: 24px;
text-align: left;


width: 608px;
height: 120px;
    
} 
  
.autor-citata{
 
font-size: 15px;
font-weight: 400;
line-height: 24px;
text-align: left;
  
}
  
.wrapper-lists{
padding-left: 32px;
    
}
  
.wrapper-item:last-of-type{
  
margin-bottom: 0; 
}
  
  
.wrapper-list{
margin-bottom: 64px; 
padding-left: 80px;
  

}
  
.wrapper-list p{
  
font-size: 17px;
font-weight: 400;
line-height: 26px;
text-align: left;

margin-bottom: 20px;
width: 608px;
    
  
}
  
  
.wrapper-list h4{
  
font-size: 17px;
font-weight: 700;
line-height: 26px;
text-align: left;

margin-bottom: 12px;


}
  
.wrapper-item{
  

font-size: 17px;
font-weight: 400;
line-height: 26px;
text-align: left;
margin-bottom: 12px;
  

}
  
  
.caption-title h3{
margin-bottom: 16px;


}




.caption-title p{
width: 608px;

margin: 0 auto;

font-size: 17px;
font-weight: 400;
line-height: 26px;
text-align: left;
  
margin-bottom: 16px;
    
    
}
.link-caption{

width: 380px;
display: block;
  
  
font-size: 13px;
font-weight: 400;
line-height: 18px;
text-align: left;


margin-left: 124px;
margin-bottom: 16px;
}
    
    
    
    
    
.caption-title p:nth-child(6){
margin-bottom: 28px;


}


.caption-title-flex{

  display: block;
  
  }


.list-links{
width: 552px;
border: 1px solid #00000026;
    
    
padding: 28px 32px 28px 32px;
    
position: relative;
    
margin: 0 auto;
margin-bottom: 48px;
        
}
        
        
        
.list-item{
          
font-size: 17px;
font-weight: 400;
line-height: 26px;
text-align: left;
          
padding-top:6px ;
margin-bottom: 16px;
        
        
border-top: 1px solid  #00000026;
        
}
        
        
        
.list-item:last-child{
margin-bottom: 0;
        
        
}
        
        
.list-links h4{
margin-bottom: 17px;
        
        
        
        
font-size: 19px;
font-weight: 700;
line-height: 28px;
text-align: right;
        
        
}
        
.text-arrow u{
list-style: none;
text-decoration: none;

border-bottom:1px  solid  #CCCCCC;


}
        
        
        
.list-img{

position: absolute;
top: 0;
right: 48px;

}

.text-arrow{
display: flex;
        
        
}

.desc-title p{
  width: 608px;
  margin: 0 auto;
  margin-bottom: 16px;
  
 
}
  
.desc h3{
margin-bottom: 16px;
          
          
}
          
          
.desc img{
margin-left: 112px;
width: 190px;
height: 100px;

}

.desc-link{
width: 314px;
display: block;

font-size: 13px;
font-weight: 400;
line-height: 18px;
text-align: left;

margin-bottom: 16px;
margin-left: 112px;


}
          
          
.desc p:nth-child(4){
margin-bottom: 28px;
}


.caption-title-flex{
display: block;
}


.cite-title{
border-left: 1px solid#000000;
    
width: 608px;
      
margin: 0 auto;
    
}
          
          
.cite-text{

width: 591px;
margin-left: 16px;


font-size: 17px;
font-weight: 400;
line-height: 26px;
text-align: left;



}
          
          
          
          
.autor-title{
display: flex;
gap: 12px;

margin-left: 16px;
margin-bottom: 48px;

}

          
          
          
          
.autor-link{
width: 120px;

font-size: 15px;
font-weight: 700;
line-height: 20px;
text-align: left;

color: black;


}
          
          
.autor-link:active{
  opacity: 0.5;



}




.autor-text{

width: 120px;
          
            
font-size: 13px;
font-weight: 400;
line-height: 20px;
text-align: left;

}




.citata-top{
margin-bottom: 16px;

width: 591px;
}
          
.citata-down{
margin-bottom: 24px;

width: 591px;

}

.end-wrapper p{
width: 608px;

margin: 0 auto;
margin-bottom: 16px;


}
  
span{
  
height: auto;
}
  
  
.desc .link-caption{
  
margin-left: 112px;
}
  
  }

  @media(max-width: 320px){

    main{
        font-family: "Roboto", sans-serif;
        width: 320px;
        
        
        }

        h3{
 
 
            font-size: 24px;
            font-weight: 700;
            line-height: 24px;
            text-align: left;
            
          
          width: 288px;
        }

        .main-title{
          margin: 0 auto;
          margin-bottom: 16px;
          padding-top: 48px;
          
          
          
          }

          .text-title {
            font-size: 17px;
            font-weight: 400;
            line-height: 26px;
            text-align: left;
            
            margin: 0 auto;
            
            margin-bottom: 16px;

            width: 288px;
            
            }

            .main-img{
                width: 320px;
                height: 175px;

            }
            .text-title:last-of-type{
                margin-bottom: 28px;
              }
              
              .img-text{

                margin: 0 auto;
                
                  margin-top: 8px;
                  margin-bottom: 28px;
                
                  
                  font-size: 15px;
                  font-weight: 400;
                  line-height: 24px;
                  text-align: left;
                
                
                  width: 288px;

                  height: auto;
                  
                
                }

                .wrapper-lists{
                    width: 288px;
                    
                      margin: 0 auto;
                    
                      padding-left: 48px;
                    }

                .wrapper-list p{

                    
                  
                    font-size: 17px;
                    font-weight: 400;
                    line-height: 26px;
                    text-align: left;
                  
                    margin-bottom: 20px;
                    
                    width: 288px;

                  
                  
                  }

                  .autor-citata{

                    width: 288px;
                  }
      
                  .wrapper-list h4{

                    width: 288px;
                    
                    font-size: 17px;
                    font-weight: 700;
                    line-height: 26px;
                    text-align: left;
                    
                    margin: 0 auto;
                    margin-bottom: 12px;
                  
                  
                  }

                  .wrapper-list{
                    padding-left: 16px;
                    margin: 0 auto;
                  
                    margin-bottom: 64px;
                  
                  
                  
                  }

                  .caption-title p{
                    width: 288px;
                    
                    margin: 0 auto;
                    
                    font-size: 17px;
                    font-weight: 400;
                    line-height: 26px;
                    text-align: left;
                    
                    margin-bottom: 16px;
                    
                    
                    }

                    .link-caption{

                        width: 169px;
                       display: block;
                        
                        
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 18px;
                        text-align: left;
                      
                      
                        margin-left: 48px;
                        margin-bottom: 16px;
                      }
.list-links{
width: 256px;
border: 1px solid #00000026;


padding: 24px 16px 24px 16px;

position: relative;

margin: 0 auto;
margin-bottom: 48px;

overflow:hidden

}



.list-item{
  width: 256px;

  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  


display: flex;
justify-content: space-between;

padding-top:6px ;
margin-bottom: 16px;


border-top: 1px solid  #00000026;

}

.list-links{
    width: 256px;
    border: 1px solid #00000026;
    
    
    padding: 24px 16px 24px 16px;
    
    position: relative;
    
    margin: 0 auto;
    margin-bottom: 48px;
    
    overflow:hidden
    
    }
    
    
    
    .list-item{
      width: 256px;
    
      font-size: 17px;
      font-weight: 400;
      line-height: 26px;
      text-align: left;
      
    
    
    display: flex;
    justify-content: space-between;
    
    padding-top:6px ;
    margin-bottom: 16px;
    
    
    border-top: 1px solid  #00000026;
    
    }
                      



    .list-links h4{
        margin: 0 auto;
        
        margin-bottom: 17px;
        
        
        
        
        font-size: 19px;
        font-weight: 700;
        line-height: 28px;
        text-align: left;
        
        
        }
        
        .text-arrow u{
        list-style: none;
        text-decoration: none;
        
        border-bottom:1px  solid  #CCCCCC;
        
        
        }
        
        
        
        .list-img{
        
        position: absolute;
        top: -6px;
        right: -82px
        
        }
        
        .text-arrow{
        display: flex;
        
        
        }

        .hiden{
            display: none;

        }
        .desc-title p{
            margin: 0 auto;
            
            margin-bottom: 16px;
            
            width: 288px;
            
            
            }
            
            .desc h3{
            margin: 0 auto;
            
            margin-bottom: 16px;
            
            
            }
            
            
            .desc img{
            
            margin-left: 48px;
            margin-bottom: 12px;
            
            }
            
            .desc-link{
            width: 169px;
            display: block;
            
            font-size: 13px;
            font-weight: 400;
            line-height: 18px;
            text-align: left;
            
            margin-bottom: 16px;
            margin-left: 48px;
            
            
            }
            
            
            .desc p:nth-child(4){
              margin-bottom: 28px;
            }

            .desc .link-caption {
                 margin-left: 48px; 
            }



            .cite-title{
                border-left: 1px solid#000000;
              
                width: 288px;
                
                margin: 0 auto;
              
              }
              
              
              .cite-text{
              
              width: 271px;
              margin-left: 16px;
              
              
              font-size: 17px;
              font-weight: 400;
              line-height: 26px;
              text-align: left;
              
              
              
              }
              
              
              
              
              .autor-title{
              display: flex;
              gap: 12px;
              
              margin-left: 16px;
              margin-bottom: 28px;
              
              }
              
              
              
              
              
              .autor-link{
              width: 120px;
              
              font-size: 15px;
              font-weight: 700;
              line-height: 20px;
              text-align: left;
              
              color: black;
              
              
              }
              
              
              .autor-link:active{
                opacity: 0.5;
              
              
              
              }
              
              
              
              
              .autor-text{
              
              width: 120px;
              
                display: block;
              font-size: 13px;
              font-weight: 400;
              line-height: 20px;
              text-align: left;
              
              }
              
              
              
              
              .citata-top{
              margin-bottom: 16px;
              
              width: 271px;
              }
              
              .citata-down{
              margin-bottom: 24px;
              
              width: 271px;
              
              }
              
              .end-wrapper p{
              width: 288px;
              
              margin: 0 auto;
              margin-bottom: 16px;
              
              
              }
  
  
  
  
  
  
  
  
  
  
    }


  
  
  